.form {
    padding-bottom: 1rem;
}

.switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
    // .switcher__input
    &__input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked + .switcher__label {
            background-color: #dc3545;
        }
        &:checked + .switcher__label::after {
            left: 100%;
            transform: translate(-100%, -50%);
        }

    }
    // .switcher__label
    &__label {
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 50px;
        height: 23px;
        background-color: #fff;
        border-radius: 20px;
        transition: all 0.3s ease 0s;
        &_fs {
            font-size: 1.5rem;
            font-weight: 700;
            color: #dc3545;
            cursor: pointer;
        }
        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
            background-color: #747b80;
            border-radius: 50%;
            transition: transform 0.3s ease 0s, left 0.3s ease 0s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        }
    }
}
